body {
    font-family: 'Poppins', sans-serif;
}

.bc {
    font-family: "Bricolage Grotesque", sans-serif;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.box-shadow {
    box-shadow: 4px 4px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 1.9rem;
}

.bg-violeta {
    background-color: #C79BFC;
}

.bat {
    width: 1.5rem;
    height: 2rem;
    margin-bottom: .4rem;
}

@media (min-width: 992px) {
    .bat {
        width: 1.5rem;
        height: 2.7rem;
        margin-bottom: .6rem;
    }
}