body {
    font-family: "Work Sans", sans-serif;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.text-orange-dark {
    color: #6A0600;
}

.bg-orange-light {
    background-color: #FFF8F8;
}

.main {
    padding-top: 80px;
}

@media (min-width: 992px) {
    .main {
        padding-top: 40px;
    }
}